---
---
@import "style";

@font-face {
	font-family: "titillium-regular";
	src:url("../assets/Titillium_Web/TitilliumWeb-Regular.ttf");
}

@font-face {
	font-family: "titillium-bold";
	src:url("../assets/Titillium_Web/TitilliumWeb-Bold.ttf");
}

@font-face {
	font-family: "merriweather-bold";
	src: url("../assets/Merriweather/Merriweather-Bold.ttf");
}

@font-face {
	font-family: "merriweather-regular";
	src: url("../assets/Merriweather/Merriweather-Regular.ttf");
}

