
<h2>I've been working on...</h2>
<ul>
  <li>how to learn useful models in the presence of unreliable data</li>
  <li>how to employ data augmentation at test-time</li>
  <li>how to improve the interpretability of black-box models</li>
</ul>

<p> Former intern at Borealis AI, D.E. Shaw Research, Counsyl and Aetion. You can find my CV <a href="{{ site.url }}/pdfs/cv.pdf">here</a> or email me at divyas at mit dot edu, or both! This <a href="{{ site.url }}/pdfs/interest_map.pdf#view=FitV"> interest map </a> summarizes questions I care about. </p>



<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-check fa-lg main-list-item-icon"></span>
    <a href="projects">Projects</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/divyashan/">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-quote-left fa-lg main-list-item-icon"></span>
    <a href="blogs">Blog</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/dmshanmugam">Twitter</a>
  </li>

  <li class="main-list-item">
    <span class="fa fa-trash fa-lg main-list-item-icon"></span>
    <a href="links">Misc.</a>
  </li>


</ul>