
    <h2>Link Party</h2>

<h2>Been reading... </h2>
<ul>
  <li>Thank You for Arguing, <i>Jay Heinrichs</i></li>
  <li> Unseen City, <i>Nathanael Johnson</i> </li> 
  <li>Free Food for Millionaires, <i>Min Jin Lee</i></li>
  <li>All the Light We Cannot See, <i>Anthony Doerr</i></li>

  <li>Pachinko, <i>Min Jin Lee</i></li>
</ul>

and would love to discuss!

<h2>Been puzzling... </h2>
<ul>
  <li> <a href="../images/mini_xword.png">[7.1.2017] Mini-Crossword</a></li>
  <li> <a href="../images/word_scramble.png ">[7.15.2017] Spelling Bee </a></li>
</ul>

and would love to hear your solutions!

</ul>