
    <h2>Link Party</h2>

<h2>Been reading... </h2>
<ul>
  <li>Winners Take All: The Elite Charade of Changing the World, <i>Anand Giridharadas</i></li>
  <li> Trick Mirror: Reflections on Self-Delusion, <i>Jia Tolentino</i> </li> 
  <li>The Upside of Stress: Why Stress is Good for You, and How to Get Good at It, <i>Kelly McGonigal</i></li>
  <li>Garlic and Sapphires: The Secret Life of a Critic in Disguise, <i>Ruth Reichl </i></li>

  <li>Circe, <i>Madeline Miller</i></li>
</ul>

and would love to discuss! Live updates @ <a href="https://www.goodreads.com/user/show/76521824-divya-shanmugam"> goodreads </a>B-^) 

<h2>Been making... </h2>
<ul>
  <li> <a href="../images/mini_xword.png">[7.1.2017] Mini-Crossword</a></li>
  <li> <a href="../images/word_scramble.png ">[7.15.2017] Spelling Bee </a></li>
</ul>

and would love to hear your solutions! Really like making crosswords and always looking for people to make them with. Wrote code to <a href="https://github.com/divyashan/personalized_mini"> generate personalized mini's </a> (a great gift!!), a <a href="https://chrome.google.com/webstore/detail/nytimed/hloelniielchalacnlmgdkjfkjfnccjg"> Chrome extension </a> to track your NYTimes crossword stats, and a <a href="https://github.com/divyashan/wordbrain_solver"> solver </a> for the game WordBrain. All this is to say I like word-game adjacent projects.

</ul>