
    <h2>Projects</h2>
    <p> <i> Towards Principled Test-Time Augmentation</i><br>
            Test-time augmentation - the pooling of predictions across cropped or transformed versions of a test input to increase accuracy - is a common practice in image classification. We provide an empirical analysis of test-time augmentation across 15 architectures on ImageNet. Further, we introduce a learning-based test-time augmentation method that significantly outperforms existing approaches. Under review, CVPR 2020. <br><a href="{{ site.url }}/pdfs/tta_cvpr_2019.pdf">[link to pre-print]</a></p>

    <p> <i> Multiple Instance Learning for ECG Risk Stratification </i><br>
            Reframes risk stratification on biometric signals using multiple instance learning and achieves state-of-the-art hazard ratios in predicting patient death within 90 days of hospital admission. Oral presentation, MLHC-19. <br><a href="{{ site.url }}/pdfs/ecg_mlhc_2019.pdf">[link to paper]</a></p>

	<p> <i> Jiffy: A Convolutional Approach to Multivariate Time Series Comparison </i><br>
                            A CNN-based algorithm that outperforms state-of-the-art methods in multivariate time series comparison. Work in progress. <br><a href="{{ site.url }}/pdfs/jiffy.pdf">[link to pre-print]</a></p>

    <p> <i> Automated Image Segmentation of Liver Stage Malaria Infection </i> <br>
       The application of a U-Net to automate image segmentation in liver-stage malaria infected cells. Co-author presented at Workshop on Computational Biology ICML 2019. <br><a href="{{ site.url }}/pdfs/6867_report.pdf">[link to pre-print]</a></p>

    <p> <i> Disparities in the performance of Natural Language Processing Tools </i><br>
        Analysis of language model performance across economic class. Presented at WiML 2017. <br><a href="{{ site.url }}/pdfs/jiffy.pdf"> [link to poster] </a>
